<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        body {
        display:flex; 
        flex-direction:column; 
        justify-content: space-evenly;
        align-items:center;
        min-height:100vh;
        margin: 0 30vw;
        }

        p {
            font-size: 5vh;
        }
        </style>
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" />
</body>
</html>